<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">네비게이션 토글</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">출석관리</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
        <li class="" style="margin-right: 10px;">
          <button type="button" class="btn btn-primary navbar-btn" onclick = "location.href='/user/create/'">
            가입하기
          </button>
        </li>
        {% endif %}
        <li class="">
          {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ request.user.name }}님&nbsp;
            <i class="far fa-user"></i><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">환영합니다 {{ request.user.name }}님!</li>
            <li><a href="/user/info">나의 정보</a></li>
            <li><a href="/user/class">나의 수강내역</a></li>
            <li class="divider"></li>
            <li><a href="/user/logout/">로그아웃</a></li>
            <li><a href="#">계정탈퇴</a></li>
          </ul>
        </li>
        {% else %}
        <button type="button" class="btn btn-default navbar-btn" onclick = "location.href='/user/login/'">
          로그인
        </button>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>