{% extends 'base.html' %}

{% block title %}<title>나의 수강내역</title>{% endblock title %}

{% block css %}
<style type="text/css">
    tbody > tr {cursor: pointer;}
    .table {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .panel-heading-text {
        margin-left: 5%;
    }
</style>
{% endblock css %}

{% block content %}
<div class="panel panel-default table">
    <div class="panel-heading">
        <strong style="font-size: 18px;" class="panel-heading-text">
            <i class="fas fa-user-circle"></i>&nbsp;나의 수강내역
        </strong>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive"> <!-- hover, responsive -->
            <thead>
            <th>번호</th><th>수강 과정명</th><th>수강 기간</th><th>수강 학원</th>
            </thead>
            <tbody>
            {% for info in class_info %}
            <tr>
<!--        <tr onclick="location.href='/class/{{ info.id }}/'">-->
                <td>{{ info.id }}</td>
                <td>{{ info.name }}</td>
                <td>{{ info.start_date }} ~ {{ info.end_date }}</td>
                <td>{{ academy_names|join:", " }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}