{% extends 'base.html' %}

{% block title %}<title>비밀번호 변경</title>{% endblock title %}

{% block css %}
<style>
    .table {
        width: 500px;
        margin: 0 auto;
    }
    .alert-danger {
        white-space: nowrap;
        margin-top: 5px;
        margin-bottom: 10px;
    }
</style>
{% endblock css %}

{% block content %}
<div class="panel panel-default table">
    <div class="panel-heading">
        <strong style="font-size: 18px;">
            <i class="fas fa-user-lock"></i>&nbsp;비밀번호 변경
        </strong>
    </div>
    <div class="panel-body">
        <form method="POST" novalidate>
            {% csrf_token %}
            <!--기존 비밀번호-->
            <div>
                <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}">
                    <i class="fas fa-lock"></i>&nbsp;&nbsp;{{ password_change_form.old_password.label }}</label>
                {{ password_change_form.old_password }}
                <script type="text/javascript">
                    if (document.getElementsByName('old_password')[0].value != '') {
                        document.getElementsByName('label_old_password')[0].setAttribute('class', 'active');
                        }
                </script>
                {% if password_change_form.old_password.errors %}
                <script type="text/javascript">
                    document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.old_password.errors %}
                <div class="alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!--새 비밀번호-->
            <div>
                <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}">
                    <i class="fas fa-unlock"></i>&nbsp;&nbsp;{{ password_change_form.new_password1.label }}</label>
                {{ password_change_form.new_password1 }}
                <script type="text/javascript">
                    if (document.getElementsByName('new_password1')[0].value != '') {
                        document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
                        }
                </script>
                {% if password_change_form.new_password1.errors %}
                <script type="text/javascript">
                    document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.new_password1.errors %}
                <div class="alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!--새 비밀번호확인-->
            <div>
                <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}">
                    <i class="fas fa-unlock-alt"></i>&nbsp;&nbsp;{{ password_change_form.new_password2.label }}</label>
                {{ password_change_form.new_password2 }}
                <script type="text/javascript">
                    if (document.getElementsByName('new_password2')[0].value != '') {
                        document.getElementsByName('label_new_password2')[0].setAttribute('class', 'active');
                        }
                </script>
                {% if password_change_form.new_password2.errors %}
                <script type="text/javascript">
                    document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.new_password2.errors %}
                <div class="alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
                <small style="margin-left: 4px; margin-top:8px; margin-bottom: 30px;" class="form-text text-muted">
                    다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.<br>
                    비밀번호는 최소 8자 이상이어야 합니다.<br>
                    통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.<br>
                    숫자로만 이루어진 비밀번호는 사용할 수 없습니다.<br>
                </small>
            <br>
            <div style="text-align: center;">
                <p style="color:gray; margin-bottom: 4px;"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{ user.name }}님 계정을 탈퇴합니다.</p>
                <table class="table info">
                    <tr>
                        <td>
                        <button class="btn btn-default btn-block" type="button" onclick="location.href='/user/info/'">
                            <i class="fas fa-undo"></i> 돌아가기
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-block" type="submit">
                            <i class="fas fa-check"></i> 변경하기
                        </button>
                    </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock content %}