.circle-text {
    text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: white;
	font-size-adjust: 30%;
}

.attendance-type {
    text-align: center;
    font-size-adjust: inherit;
}

.attendance_t {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
    solid: gray;
}

.log_title {
    border: 1px solid black;
    background: lightgray;
}

.log {
    border: 1px solid black;
    solid: gray;
}