@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper_left {
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    margin: 0 auto;
}
.wrapper .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date{
    font-size: 2.2rem;
}

header .icons span{
    height: 38px;
    width: 38ps;
    color: #878787;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

header .icons span:hover{
    background: #f2f2f2;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .days{
    margin-bottom: 1px;
}

.calendar .weeks li{
    font-weight: 500;
}

.calendar ul li{
    position: relative;
    width: calc(100%/7);
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    height: 60px;
    width: calc(100%/7);
}

.days li.inactive1{
    color: #aaa;
}

.days li.inactive2{
    color: #aaa;
}

.days li.active{
    color: #fff;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 10%

}

.days li:hover{
    background: lightgray;
    box-sizing: border-box;
}

.days li.active::before{
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
}

.current-day{
    background-color: skyblue;
    border-radius: 100%;
}

.selected{
    background-color: yellow;
    border-radius: 100%;
      }

.color1{
    background-color: red;
    width: 90%;
    height: 20%;
    margin-bottom: -10px;
    margin-left: 3px;
}

.color2{
    background-color: green;
    width: 90%;
    height: 20%;
    margin-top: -10px;
    margin-left: 3px;
}