<table class="table table-striped table-bordered table-condensed" style="text-align: center;">
    <tr class="log_title">
        <td><b>시간</b></td>
        <td><b>출입여부</b></td>
        <td><b>비고</b></td>
    </tr>
    {% for attendance in attendances %}
    <tr class="log">
        <td>{{ attendance.timestamp }}</td>
        <td>
            {% if attendance.is_entering %}
            IN
            {% else %}
            OUT
            {% endif %}
        </td>
        <td>
            {% if attendance.remark %}
            {{ attendance.remark }}
            {% else %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>